.text1 {
    color: blueviolet;
}
body {
    background-color: rgb(224, 224, 224);
}
.blue-header-top {
    height: 134px;
    width: 850px;
    margin: 0 auto;
    background-color: #4267b0;
}
.navigation {
    width: 850px;
    height: 28px;
    margin: 0 auto;
    background-color: cornsilk;
    position: relative;
    top: -15px;
    /* display: inline; */
}
.profile-picture {
    border: 1px solid rgb(61, 60, 60);
    border-width: thin;
    height: 75px;
    width: 75px;
    background-color: #4267b0;
    position: relative;
    border-radius: 2.5%;
    top: 64px;
    left: 20px;
    z-index: 2;
}
ul {
    list-style: none;
    padding: 6px;
    float: right;
}
li {
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 
    Arial, sans-serif;
    position: relative;
    font-size: 10px;
}

.nav2 {
    position: relative;
    top: -18px;
    left: -448px;
    
    /* right: 54 */
}

/* .nav1 {
    position: relative
    top: -19px;
} */

li.link {
    padding: 3px;
    border-right: 2px solid lightgray;

}

li.link1.timeline {
    text-decoration: underline;
}

li.link.more {

}



.head1 {
    font-size: x-small;
    font-weight: bold;
    position: relative;
    color: white;
    box-sizing: content-box;
    margin-left: 104px;
    margin-top: 12px;
}
.head1.pagename
{
    font-weight: lighter;
    box-sizing: content-box;
margin-top: -7px;
}
.buttonbar {
    top: -23px;
    float: right;
    position: relative;
  border: none;
  color: white;
  padding: 3px 1px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 6px;
}
.but.likeb {
    background-color: lightgray;
    padding: 2px 4px;
    box-sizing: border-box;
    margin-right: 2px;
    border: solid 0.5px rgb(110, 110, 110);
    color: rgb(42, 51, 51);
}

.but.followb {
    background-color: lightgray;
    padding: 2px 4px;
    box-sizing: border-box;
    margin-right: 2px;
    border: solid 0.5px rgb(110, 110, 110);
    color: rgb(42, 51, 51);
}
.but.messb {
    background-color: lightgray;
    padding: 2px 4px;
    box-sizing: border-box;
    margin-right: 2px;
    border: solid 0.5px rgb(110, 110, 110);
    color: rgb(42, 51, 51);
}
.but.dot3b {
    background-color: lightgray;
    padding: 2px 4px;
    box-sizing: border-box;
    margin-right: 2px;
    border: solid 0.5px rgb(110, 110, 110);
    color: rgb(42, 51, 51);
}


/* Two column page items list */
/* nav ul {
    color: indigo;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-width: 50%;
       -moz-column-width: 50%;
            column-width: 50%;
      -webkit-column-gap: 4em;
         -moz-column-gap: 4em;
              column-gap: 4em;
  } */
  .column1 {
      color: green;
      float: left;
  }

  .column2 {
      color: red;
      float: right;
  }

  ul.bottom {
      box-sizing: border-box;
      position: relative;
      border: 2px solid hotpink;


  }
